<style>
    .central {
      float: center;
      width: 100%;
      padding: 10px;
      text-align: justify;
    }
</style>
    
<div class="central">
    <p>
        <b>Poster presenters</b>
        <ul>
            <li>Akinori Ihara (Wakayama University)</li>
            <li>Hiroto Sugimori (Tokyo Institute of Technology)</li>
            <li>Khine Yin Mon (Kyoto Institute of Technology)</li>
            <li>Rojpaisarnkit Ruksit (NAIST)</li>
            <li>Soratouch Pornmaneerattanatri (NAIST)</li>
            <li>Shun Fujita (Kyoto University)</li>
            <li>Yuta Ishimoto (Kyushu University)</li>
          </ul>
    </p>

</div>
    