<style>
  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }
 
 div {
   text-align: center;
 }
 
 img {
   width: 200px;
   height: 200px;
   margin: 10px;
   border: 1px solid gray;
 }
 
 p {
   margin: 0;
   width: 300px;
   height: auto;
 }
 a.blue-link {
   color: blue;
 }
.image-border {
  border: 1px solid gray;
}
@media screen and (max-width: 600px) {
    div {
      flex-basis: 100%;
      max-width: 100%;
    }
 </style>
 
<h3><font color="MediumSeaGreen">General Co-chairs</font></h3>
<div class="container">
  <div>
    <img src="/assets/kashiwa.jpg" alt="Kashiwa">
    <p>Yutaro Kashiwa <br>(Nara Institute of Science and Technology)</p>
  </div>
  <div>
    <img src="/assets/Kondo.jpg" alt="Kondo">
    <p>Masanari Kondo <br> (Kyushu University)</p>
  </div>
 </div>

<h3><font color="MediumSeaGreen">Financial Chair</font></h3>
 <div class="container">
  <div>
    <img src="/assets/Makihara.jpeg" alt="Makihara">
    <p>Erina Makihara <br> (Ritsumeikan University)</p>
  </div>
 </div>

 <h3><font color="MediumSeaGreen">Organization Chair</font></h3>
 <div class="container">
  <div>
    <img src="/assets/Wang.jpeg" alt="Wang">
    <p>Dong Wang <br> (Kyushu University)</p>
  </div>
 </div>

 <h3><font color="MediumSeaGreen">Web Chair</font></h3>
 <div class="container">
  <div>
    <img src="/assets/Khine.jpg" alt="Khine">
    <p>Khine Yin Mon <br> (Kyoto Institute of Technology)</p>
  </div>
 </div>
 
 <h3><font color="MediumSeaGreen">Local Arrangement Chair</font></h3>
 <div class="container">
   <div>
     <img src="/assets/Ishimoto.jpeg" alt="Ishimoto">
     <p>Yuta Ishimoto <br> (Kyushu University)</p>
   </div>
   <div>
    <img src="/assets/Nourry.jpeg" alt="Nourry">
    <p>Olivier Nourry  <br> (Kyushu University)</p>
  </div>
  </div>
 
  <h3><font color="MediumSeaGreen">Steering Committee</font></h3>
  <div class="container">
    <div>
      <img src="/assets/yasuta-kamei.jpeg" alt="Kamei">
      <p>Yasutaka Kamei <br>  (Kyushu University)</p>
    </div>
    <div>
     <img src="/assets/Ihara.jpeg" alt="Ihara">
     <p>Akinori Ihara  <br>  (Wakayama University)</p>
   </div>
   </div>
 
 









