<style>
    a.blue-link {
      color: blue;
    }
    
    @media screen and (max-width: 600px) {
      /* Adjust the layout and styling for small screens */
      h3, h5 {
        font-size: 16px;
        text-align: center;
      }
      
      img {
        max-width: 100%;
        height: auto;
      }
      
      div {
        padding-bottom: 6px;
      }
    }
  </style>
The conference will feature plenary addresses by the following great speakers:<br>


<div style="padding-bottom: 12px;">
  <h4>Junjie Chen</h4>
</div>
<div>
  <div>
    <img src="/assets/Junjie.png">
  </div>
  <div style="text-align: justify;"><a href="https://sites.google.com/site/junjiechen08/" class="blue-link">Junjie Chen </a> is a tenured associate professor at Tianjin University, leading the software engineering team. He obtained his PhD in computer science from Peking University, with research interests in software testing and debugging, automated debugging, and AI-based software maintenance. He has also spent time as a visiting PhD student at The University of Texas at Dallas. Junjie is a sought-after speaker and has published extensively in his areas of expertise.</div>
 <h5>Title:  </h5><i>Data-driven Software Testing</i>
<BR>

</div>

<div style="padding-bottom: 12px;">
    <h4>Michele Tufano</h4>
</div>
<div>
  <div>
    <img src="/assets/Michele.jpeg">
  </div>
  <div style="text-align: justify;"><a href="https://tufanomichele.com/" class="blue-link">Michele Tufano</a> is a Senior Research Scientist at Microsoft, working in the Data & AI group. His research focuses on using Deep Learning for Software Engineering tasks, including Software Evolution and Maintenance, Mining Software Repositories, and Software Testing. Michele obtained his Ph.D. in Computer Science from The College of William and Mary in May 2019. Currently, he is part of the Data & AI team in Visual Studio, where he is training Transformer models to automate various developers' tasks. </div>
 <h5>Talk:</h5><i>The Research Findings of My Team at Microsoft </i>

</div>



<div style="padding-bottom: 12px;">
  <h4>Kevin Moran</h4>
</div>
<div>
  <div>
    <img src="/assets/Kevin.png">
  </div>
  <div style="text-align: justify;"><a href="https://www.kpmoran.com/" class="blue-link">Kevin Moran </a> is an Assistant Professor in the Department of Computer Science at George Mason University where he directs the <a href="https://sagelab.io" class="blue-link">SAGE Research Lab</a>.  He graduated with his B.A. in Physics with a Computer Science Minor from the College of the Holy Cross in 2013. He graduated with his M.S. in Computer Science from William & Mary in 2015, and his Ph.D. in Computer Science from William & Mary in 2018, advised by Dr. Denys Poshyvanyk.  His main research interests include software engineering, security, maintenance, and evolution with a focus on mobile platforms. Additionally, he explores applications of machine learning to data mined from software repositories in order to build practical automated tools for developers. </div>
  <h5>Title: </h5><i>(To Appear)</i>
</BR>
</div>


<div style="padding-bottom: 12px;">
  <h4>Bin Lin</h4>
</div>
<div>
  <div>
    <img src="/assets/bin.jpeg">
  </div>
  <div style="text-align: justify;"><a href="https://binlin.info/" class="blue-link">Bin Lin</a> is currently an assistant professor in the <a href="https://sws.cs.ru.nl" class="blue-link">Software Science Group</a> of Radboud University. Prior to that, he was a postdoctoral researcher in the REVEAL and SEART research groups of Software Institute at USI - Università della Svizzera italiana, Switzerland. He recieved his Ph.D. degree in 2020 from Università della Svizzera Italiana (USI), Switzerland. His research interest covers  a wide range of fields in software engineering. Specific topics include program comprehension, mining software repositories, software evolution, refactoring, and human aspects of software engineering.</div>
<h5>Title:  </h5><i>Refactoring Detection and Impact Analysis: Promises, Pitfalls, and Opportunities</i>
<BR>
</div>






