<html>
<head>
<style>
* {
  box-sizing: border-box;
}

.column1 {
  float: left;
  width: 30%;
  padding: 5px;
}
.column2 {
  float: left;
  width: 70%;
  padding: 5px;
  text-align: justify;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
  padding-bottom: 10%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
</style>
</head>
<body>

<h3>General Co-chairs</h3>
<div class="row">
  <div class="column1">
    <img src="/assets/kashiwa.jpg" alt="Snow" style="height: 100px;width:100px;border-radius: 50%;">
  </div>
  <div class="column2">Yutaro Kashiwa (Nara Institute of Science and Technology)</div>
</div>

<div class="row">
    <div class="column1">
      <img src="/assets/Kondo.jpg" alt="Snow" style="height: 100px;width:100px;border-radius: 50%;">
    </div>
    <div class="column2">Masanari Kondo (Kyushu University)</div>
  </div>

<h3>Financial Chair</h3>
<div class="row">
  <div class="column1">
    <img src="/assets/Makihara.jpeg" alt="Snow" style="height: 100px;width:100px;border-radius: 50%;">
  </div>
  <div class="column2">Erina Makihara (Doshisha University)</div>
</div>

<h3>Organization Chair</h3>
<div class="row">
  <div class="column1">
    <img src="/assets/Wang.jpeg" alt="Snow" style="height: 100px;width:100px;border-radius: 50%;">
  </div>
  <div class="column2">Dong Wang (Kyushu University)</div>
</div>


<h3>Web Chair</h3>
<div class="row">
  <div class="column1">
    <img src="/assets/Khine.jpg" alt="Snow" style="height: 100px;width:100px;border-radius: 50%;">
  </div>
  <div class="column2">Khine Yin Mon (Kyoto Institute of Technology)</div>
</div>

<h3>Local Arrangement Chair</h3>
<div class="row">
  <div class="column1">
    <img src="/assets/Ishimoto.jpeg" alt="Snow" style="height: 100px;width:100px;border-radius: 50%;">
  </div>
  <div class="column2">Yuta Ishimoto (Kyushu University)</div>
</div>
<div class="row">
  <div class="column1">
    <img src="/assets/Nourry.jpeg" alt="Snow" style="height: 100px;width:100px;border-radius: 50%;">
  </div>
  <div class="column2">Olivier Nourry (Kyushu University)</div>
</div>

<h3>Steering Committee </h3>
<div class="row">
  <div class="column1">
    <img src="/assets/yasuta-kamei.jpeg" alt="Snow" style="height: 100px;width:100px;border-radius: 50%;">
  </div>
  <div class="column2">Yasutaka Kamei (Kyushu University)</div>
</div>
<div class="row">
  <div class="column1">
    <img src="/assets/Ihara.jpeg" alt="Snow" style="height: 100px;width:100px;border-radius: 50%;">
  </div>
  <div class="column2">Akinori Ihara (Wakayama University)</div>
</div>



</body>
</html>






