<style>
  .container {
   display: flex;
   justify-content: center;
 }
 
 div {
   text-align: center;
 }
 
 img {
   width: 200px;
   height: 200px;
   margin: 10px;
   border: 1px solid gray;
 }
 
 p {
   margin: 0;
 }
 a.blue-link {
   color: blue;
 }
.image-border {
  border: 1px solid gray;
}
 </style>
 
<h3>General Co-chairs</h3>
<div class="container">
  <div>
    <img src="/assets/kashiwa.jpg" alt="Kashiwa">
    <p>Yutaro Kashiwa <br>(Nara Institute of Science and Technology)</p>
  </div>
  <div>
    <img src="/assets/Kondo.jpg" alt="Kondo">
    <p>Masanari Kondo <br> (Kyushu University)</p>
  </div>
 </div>

<h3>Financial Chair</h3>
 <div class="container">
  <div>
    <img src="/assets/Makihara.jpeg" alt="Makihara">
    <p>Erina Makihara <br> (Doshisha University)</p>
  </div>
 </div>

 <h3>Organization Chair</h3>
 <div class="container">
  <div>
    <img src="/assets/Wang.jpeg" alt="Wang">
    <p>Dong Wang <br> (Kyushu University)</p>
  </div>
 </div>

 <h3>Web Chair</h3>
 <div class="container">
  <div>
    <img src="/assets/Khine.jpg" alt="Khine">
    <p>Khine Yin Mon <br> (Kyoto Institute of Technology)</p>
  </div>
 </div>
 
 <h3>Local Arrangement Chair</h3>
 <div class="container">
   <div>
     <img src="/assets/Ishimoto.jpeg" alt="Ishimoto">
     <p>Yuta Ishimoto <br> (Kyushu University)</p>
   </div>
   <div>
    <img src="/assets/Nourry.jpeg" alt="Nourry">
    <p>Olivier Nourry  <br> (Kyushu University)</p>
  </div>
  </div>
 
  <h3>Steering Committee</h3>
  <div class="container">
    <div>
      <img src="/assets/yasuta-kamei.jpeg" alt="Kamei">
      <p>Yasutaka Kamei <br>  (Kyushu University)</p>
    </div>
    <div>
     <img src="/assets/Ihara.jpeg" alt="Ihara">
     <p>Akinori Ihara  <br>  (Wakayama University)</p>
   </div>
   </div>
 
 









