<html>
<body>
<style>
  a.blue-link {
  color: blue;
}
</style>
<h3>The conference will feature plenary addresses by the following great speakers:</h3><br>
<div style="padding-bottom: 12px;">
  <h5>Title:  Refactoring Detection and Impact Analysis: Promises, Pitfalls, and Opportunities</h5>
</div>
<div>
  <div>
    <img src="/assets/bin.jpeg">
  </div>
  <div style="text-align: justify;"><a href="https://binlin.info/" class="blue-link">Bin Lin</a> is currently an assistant professor in the <a href="https://sws.cs.ru.nl" class="blue-link">Software Science Group</a> of Radboud University. Prior to that, he was a postdoctoral researcher in the REVEAL and SEART research groups of Software Institute at USI - Università della Svizzera italiana, Switzerland. He recieved his Ph.D. degree in 2020 from Università della Svizzera Italiana (USI), Switzerland. His research interest covers  a wide range of fields in software engineering. Specific topics include program comprehension, mining software repositories, software evolution, refactoring, and human aspects of software engineering.</div>
</div>

<div style="padding-bottom: 12px;">
  <h5>Title:  Data-driven Software Testing</h5>
</div>
<div>
  <div>
    <img src="/assets/Junjie.png">
  </div>
  <div style="text-align: justify;"><a href="https://sites.google.com/site/junjiechen08/" class="blue-link">Junjie Chen </a> is a tenured associate professor at Tianjin University, leading the software engineering team. He obtained his PhD in computer science from Peking University, with research interests in software testing and debugging, automated debugging, and AI-based software maintenance. He has also spent time as a visiting PhD student at The University of Texas at Dallas. Junjie is a sought-after speaker and has published extensively in his areas of expertise.</div>
</div>

<div style="padding-bottom: 12px;">
  <h5>Title:  Data-driven Software Testing</h5>
</div>
<div>
  <div>
    <img src="/assets/Kevin.png">
  </div>
  <div style="text-align: justify;"><a href="https://www.kpmoran.com/" class="blue-link">Kevin Moran </a> is an Assistant Professor in the Department of Computer Science at George Mason University where he directs the <a href="https://sagelab.io" class="blue-link">SAGE Research Lab</a>.  He graduated with his B.A. in Physics with a Computer Science Minor from the College of the Holy Cross in 2013. He graduated with his M.S. in Computer Science from William & Mary in 2015, and his Ph.D. in Computer Science from William & Mary in 2018, advised by Dr. Denys Poshyvanyk.  His main research interests include software engineering, security, maintenance, and evolution with a focus on mobile platforms. Additionally, he explores applications of machine learning to data mined from software repositories in order to build practical automated tools for developers. </div>
</div>


</body>
</html>






