<style>
    .central {
      float: center;
      width: 100%;
      padding: 10px;
      text-align: justify;
    }
</style>
    
<div class="central">
    <p>
        The Mining Software Repositories (MSR) community has drastically grown over the past decade. The first MSR workshop was held in 2004 and is now one of the largest communities in software engineering research.
    </p>

    <p>
        While many self-motivated and talented young researchers attend this community, we do not have many opportunities to discuss our research projects, start a new collaborative project, and make new communities.     
    </p>

    <p>
        Therefore, we decided to revive MSR Asian Summit again! Dr. Yasutaka Kamei and Dr. Akinori Ihara originally organized this summit. We, however, change the organizer into a new generation and create a new opportunity for young MSR researchers. 
    </p>

    <p>
        The key goals of MSR Asia Summit are to:
        <ul>
            <li>Discuss your research project with other young researchers</li>
            <li>Find opportunities of a new collaboration research</li>
            <li>Create a new network for new researchers</li>
          </ul>
    </p>

</div>
    