<style>
    .central {
      float: center;
      width: 100%;
      padding: 10px;
      text-align: justify;
    }
</style>
    
<div class="central">
    <p>
        We have two phases in this summit. The first phase consists of the keynote speech and the poster session by master students. The second phase consists of the doctor session and Researchathon. Yeah, Researcharthon is our original project, in which we make some groups and intend to study one research topic from the survey to the first result. Are you interested in this project? Please check our registration page! 
    </p>

    <p>
        The first phase will be held in Hokkaido Jichiro Kaikan (on July 23). The second phase will be held in Jozankei View Hotel (July 24-26). The details can be found on the venue page. 
    </p>

</div>
    