<style>
.container {
  display: flex;
  justify-content: center;
}

div {
  text-align: center;
}

img {
  width: 200px;
  height: 200px;
  margin: 10px;
}

p {
  margin: 0;
}
a.blue-link {
  color: blue;
}

</style>


<div class="container">
  <div>
    <img src="/assets/bin.jpeg" alt="Bin Lin">
    <p><a href="https://binlin.info/" class="blue-link">Bin Lin</a></p>
  </div>
  <div>
    <img src="/assets/Junjie.png" alt="Junjie Chen">
    <p><a href="https://sites.google.com/site/junjiechen08/" class="blue-link">Junjie Chen </a></p>
  </div>
  <div>
    <img src="/assets/Kevin.png" alt="Kevin Moran">
    <p><a href="https://www.kpmoran.com/" class="blue-link">Kevin Moran </a></p>
  </div>
</div>







