<style>
@media screen and (max-width: 768px) {
  .container {
    flex-wrap: wrap;
  }
  
  div {
    flex: 0 0 50%;
  }
}

@media screen and (max-width: 480px) {
  div {
    flex: 0 0 100%;
  }
}

.container {
  display: flex;
  justify-content: center;
}

div {
  text-align: center;
}

img {
  width: 200px;
  height: 200px;
  margin: 10px;
}

p {
  margin: 0;
}
a.blue-link {
  color: MediumSeaGreen;
}

</style>


<div class="container">
  <div>
    <img src="/assets/bin.jpeg" alt="Bin Lin">
    <p><a href="https://binlin.info/" class="blue-link"><b>Bin Lin</b></a></p>
  </div>
  <div>
    <img src="/assets/Junjie.png" alt="Junjie Chen">
    <p><a href="https://sites.google.com/site/junjiechen08/" class="blue-link"><b>Junjie Chen<b> </a></p>
  </div>
  <div>
    <img src="/assets/Kevin.png" alt="Kevin Moran">
    <p><a href="https://www.kpmoran.com/" class="blue-link"><b>Kevin Moran<b> </a></p>
  </div>
  <div>
    <img src="/assets/Michele.jpeg" alt="Michele Tufano">
    <p><a href="https://tufanomichele.com/" class="blue-link"><b>Michele Tufano<b></a></p>
  </div>
</div>







