<style>
  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }
 
 div {
   text-align: center;
 }
 
 img {
   width: 200px;
   height: 200px;
   margin: 10px;
   border: 1px solid gray;
 }
 
 a.blue-link {
   color: blue;
 }
.image-border {
  border: 1px solid gray;
}
@media screen and (max-width: 600px) {
    div {
      flex-basis: 100%;
      max-width: 100%;
    }
 </style>
 
<h3><font color="MediumSeaGreen">Co-hosted</font></h3>
<div class="container">
  <div>
    <img src="/assets/temporary-human-icon.jpeg" alt="SIGSE">
    <p><b>JSPS SIGSE</b></p>
  </div>
 </div>

<h3><font color="MediumSeaGreen">Financial Support</font></h3>
 <div class="container">
  <div>
    <img src="/assets/temporary-human-icon.jpeg" alt="tateishi">
    <p><b>Tateisi Science and Technology Foundation</b> </p>
  </div>
  <div>
    <img src="/assets/temporary-human-icon.jpeg" alt="naist">
    <p><b>NAIST</b> </p>
  </div>
 </div>

