 
<h3><font color="MediumSeaGreen">Co-hosted</font></h3>
<div class="container">
  <div>
    <img src="/assets/temporary-human-icon.jpeg" alt="SIGSE">
    <p><b>JSPS SIGSE</b></p>
  </div>
 </div>

<h3><font color="MediumSeaGreen">Financial Support</font></h3>
 <div class="container">
  <div>
    <img src="/assets/temporary-human-icon.jpeg" alt="tateishi">
    <p><b>Tateisi Science and Technology Foundation</b> </p>
  </div>
  <div>
    <img src="/assets/temporary-human-icon.jpeg" alt="naist">
    <p><b>NAIST</b> </p>
  </div>
 </div>

