
<style>
@media screen and (max-width: 768px) {
  .container {
    flex-wrap: wrap;
  }
  
  div {
    flex: 0 0 50%;
  }
}

@media screen and (max-width: 480px) {
  div {
    flex: 0 0 100%;
  }
}

.container {
  display: flex;
  justify-content: center;
}

div {
  text-align: center;
}

img {
  width: 200px;
  height: 200px;
  margin: 10px;
}

p {
  margin: 0;
}
a.blue-link {
  color: MediumSeaGreen;
}

</style>


<div class="container">
  <div>
    <img src="/assets/temporary-human-icon.jpeg" alt="JSPS SIGSE">
    <p><b>Co-hosted by JSPS SIGSE</b></p>
  </div>

  <br>

  <div>
    <img src="/assets/temporary-human-icon.jpeg" alt="Tateishi">
    <p><b>Financial Support by Tateisi Science and Technology Foundation</b></p>
  </div>

  <div>
    <img src="/assets/temporary-human-icon.jpeg" alt="NAIST">
    <p><b>inancial Support by NAIST</b></p>
  </div>
</div>








