<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      color: #3b7bdc;
    }
    td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>

<table>
    <tr>
        <td>9:00-9:15</td>
        <td>Opening</td>
    </tr>
    <tr>
        <td>9:15-10:15</td>
        <td>Keynote Speech 1</td>
    </tr>
    <tr>
        <td>10:15-10:30</td>
        <td>Break</td>
    </tr>
    <tr>
        <td>10:30-11:30</td>
        <td>Keynote Speech 2</td>
    </tr>
    <tr>
        <td>11:30-13:00</td>
        <td>Long Break</td>
    </tr>
    <tr>
        <td>13:00-13:50</td>
        <td>Poster</td>
    </tr>
    <tr>
        <td>13:50-14:00</td>
        <td>Break</td>
    </tr>
    <tr>
        <td>14:00-15:00</td>
        <td>Keynote Speech 3</td>
    </tr>
    <tr>
        <td>15:00-15:15</td>
        <td>Break</td>
    </tr>
    <tr>
        <td>15:15-16:15</td>
        <td>Keynote Speech 4</td>
    </tr>
    <tr>
        <td>16:15-16:30</td>
        <td>Closing</td>
    </tr>
</table>
