<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      font-weight: bold;
      background-color: #99f36c;
    }
    td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

</style>
    
<table>
    <tr>
        <th>Category</th>
        <th>Early Registration Fee</th>
        <th>Late Registration Fee</th>
    </tr>
    <tr>
        <td>Faculty/Company member</td>
        <td>4,000</td>
        <td>6,000</td>
    </tr>
    <tr>
        <td>Student member</td>
        <td>2,000</td>
        <td>3,000</td>
    </tr>
</table>