<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      color: #3b7bdc;
    }
    td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background:rgba(143,188,143,0.2);    
}
</style>
<table>
<b>24th July</b>
   <tr>
        <td>13:00-13:30</td>
        <td>Opening</td>
    </tr>
    <tr>
        <td>13:30-15:00</td>
        <td>Discussion 1 (Proposal Making)</td>
    </tr>
    <tr>
        <td>15:00-15:30</td>
        <td>Break</td>
    </tr>
    <tr>
        <td>15:30-17:00</td>
        <td>Discussion 2 (Proposal Making)</td>
    </tr>
    <tr>
        <td>17:00-20:00</td>
        <td>Dinner and Break</td>
    </tr>
    <tr>
        <td>20:00-22:00</td>
        <td>Night Session</td>
    </tr>
</table>
<br>
<table>
<b>25th July</b>
    <tr>
        <td>9:30-10:30</td>
        <td>Report progress</td>
    </tr>
    <tr>
        <td>10:30-12:00</td>
        <td>Discussion 3 (Data Analysis)</td>
    </tr>
    <tr>
        <td>12:00-13:30</td>
        <td>Lunch</td>
    </tr>
    <tr>
        <td>13:30-15:00</td>
 	<td>Discussion 4 (Data Analysis)</td>
    </tr>
    <tr>
	<td>15:00-17:00</td>
        <td>Walking and Free Discussion</td>
    </tr>
    <tr>
        <td>17:00-20:00</td>
        <td>Dinner and Break</td>
    </tr>
    <tr>
        <td>20:00-22:00</td>
        <td>Night Session</td>
    </tr>
</table>
<br>
<table>
<b>26th July</b>
    <tr>
        <td>9:30-11:00</td>
        <td>Discussion 5(Report making)</td>
    </tr>
    <tr>
        <td>11:00-12:30</td>
        <td>Report and Closing</td>
    </tr>
    <tr>
        <td>12:30-13:00</td>
        <td>Closing</td>
    </tr>
    <tr>
        <td>13:00-14:00</td>
        <td>Lunch (Optional)</td>
    </tr>
    <tr>
        <td>14:00-17:00</td>
        <td>Free presentation and Discussion (Optional)</td>
    </tr>
</table>


