<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      color: #3b7bdc;
    }
    td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>
    
<table>
    <tr>
        <th>December 13th</th>
        <th></th>
    </tr>
    <tr>
        <td>10:00 - 11:30</td>
        <td>Special Talk Hosted by IPSJ SIGSE</td>
    </tr>
    <tr>
        <td>11:30 - 13:00</td>
        <td>Lunch</td>
    </tr>
    <tr>
        <td>13:00 - 13:20</td>
        <td>Opening</td>
    </tr>
    <tr>
        <td>13:20 - 14:10</td>
        <td>Session 1 (2 talks)</td>
    </tr>
    <tr>
        <td>14:10 - 14:30</td>
        <td>Break</td>
    </tr>
</table>