<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      color: #3b7bdc;
    }
    td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>

<table>
    <tr>
        <td>9:00-  9:05</td>
        <td>Opening</td>
    </tr>
    <tr>
        <td>9:05-10:05</td>
        <td>Presentation 1 (2 speakers: 25 mins for talks and 5 mins for QA) "Title, Authors (Institution)"</td>
    </tr>
    <tr>
        <td>10:05-10:15</td>
        <td>Break (10mins)</td>
    </tr>
    <tr>
      <td>10:15-11:45</td>
      <td>	Presentation 2 (# speakers: 25 mins for talks and 5 mins for QA) "Title, Authors (Institution)"</td>
    </tr>
    <tr>
      <td>11:45-13:30	</td>
      <td>Poster session and lunch
        (sandwich and snacks are served from about 12:15)"Title, Authors (Institution)"</td>
    </tr>
    <tr>
      <td>13:30-15:00</td>
      <td>Presentation 3 (# speakers: 25 mins for talks and 5 mins for QA)
        "Title, Authors (Institution)"</td>
    </tr>
    <tr>
      <td>15:00-15:15</td>
      <td> Break (15mins)</td>
    </tr>
    <tr>
      <td>15:15-16:15	</td>
      <td>Presentation 4 (# speakers: 25 mins for talks and 5 mins for QA) "Title, Authors (Institution)"</td>
    </tr>
    <tr>
        <td>16:15-16:30</td>
        <td>Closing</td>
    </tr>
    <tr>
        <td>18:00-20:00</td>
        <td>Dinner</td>
    </tr>
</table>