<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      color: #3b7bdc;
    }
    td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>

<table>
    <tr>
        <td>Mar. 23</td>
        <td>Keynote Speech and the poster session by master students</td>
    </tr>
    <tr>
        <td>Mar. 24</td>
        <td>Doctor session</td>
    </tr>
    <tr>
        <td>Mar. 25</td>
        <td>Researchathon 1</td>
    </tr>
    <tr>
      <td>Mar. 26</td>
      <td>Researchathon 2</td>
    </tr>
</table>