
<table>
<b>23th July</b>
    <tr>
        <td>9:15-9:30</td>
        <td>Opening (The room will be open from 9:00)</td>
    </tr>
    <tr>
        <td>9:30-10:30</td>
        <td>Refactoring Detection and Impact Analysis: Promises, Pitfalls, and Opportunities (Dr. Bin Lin)</td>
    </tr>
    <tr>
        <td>10:30-10:45</td>
        <td>Break</td>
    </tr>
    <tr>
        <td>10:45-11:45</td>
        <td>InferFix: End-to-End Program Repair with LLMs over Retrieval-Augmented Prompts (Dr. Michele Tufano)</td>
    </tr>
    <tr>
        <td>11:45-13:50</td>
        <td>Long Break and Poster</td>
    </tr>
    <tr>
        <td>13:50-14:00</td>
        <td>Break</td>
    </tr>
    <tr>
        <td>14:00-15:00</td>
        <td>Data-driven Software Testing (Dr. Junjie Chen)</td>
    </tr>
    <tr>
        <td>15:00-15:15</td>
        <td>Break</td>
    </tr>
    <tr>
        <td>15:15-16:15</td>
        <td>Learning Patterns from User Interfaces to Automate Software Engineering Tasks (Dr. Kevin Moran)</td>
    </tr>
    <tr>
        <td>16:15-16:30</td>
        <td>Closing</td>
    </tr>
</table>
