<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>
    
<table>
    <tr>
        <td>Abstract submission</td>
        <td>September 27th, 2019 (AOE) (extended)</td>
    </tr>
    <tr>
        <td>Research paper submission</td>
        <td>October 4th, 2019 (AOE) (extended)</td>
    </tr>
    <tr>
        <td>Notifications</td>
        <td>November 1st, 2019 (AOE)</td>
    </tr>
    <tr>
        <td>Camera Ready</td>
        <td>November 8th, 2019 (AOE)</td>
    </tr>
    <tr>
        <td>Abstract submission (Poster)</td>
        <td>November 5th, 2019 (AOE)</td>
    </tr>
    <tr>
        <td>Notifications (Poster)</td>
        <td>November 10th, 2019 (AOE)</td>
    </tr>
    <tr>
        <td>Registration</td>
        <td>December 4th, 2019 (AOE)</td>
    </tr>
</table>